.list {
  display: grid;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
}

.list li {
  box-shadow: 0 0 10px #3333332C;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list li>* {
  padding: 1rem;
}

.list label {
  flex-grow: 1;
}

.list button {
  border: none;
  background-color: transparent;
}

.list label.done {
  text-decoration: line-through;
}

.list .remove {
  color: #FF0000;
  cursor: pointer;
}

.list .remove:not(.done) {
  display: none;
}