.input {
  display: grid;
  gap: .5rem;
  grid-template-columns: 3fr 1fr;
}

.input>button,
.input>input {
  padding: .5rem 1rem;
}

.input>input {
  border: 1px solid hsl(0, 0%, 80%);
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.102);
}

.input>input:focus {
  outline-color: hsla(204, 96%, 55%, 0.239);
}

.input>button {
  background-color: hsl(204, 96%, 55%);
  border: 0;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}